{% if elementos[0] is defined %}
    {% set sect =  elementos[0].seccion.nombre %}
{% else %}
    {% set sect = "¡Sección Vacía!" %}
{% endif %}

<div class="botonera">
    <button class="btn btn-primary botonCrear"><i class="fa fa-plus"> Nuevo elemento</i></button>
    <a class="btn btn-info botonCrear" href="{{ path('seccion_modificar', {'id': seccion}) }}"><i class="fa fa-edit">
            Modificar Seccion</i></a>
</div>

<div class="fondoOpaco">
    <h2 class="text-center TituloGrande p-3">
        {% if elementos[0].seccion.icono is defined %}
            {% if elementos[0].seccion.icono is not null %}
                <i class="fas {{ elementos[0].seccion.icono }}"></i>
            {% else %}
                <i class="fas fa-utensils"></i>
            {% endif %}
        {% endif %}
        <div>
            {{ sect }}
        </div>

    </h2>
</div>
<hr>
<div class="tablaOrden fondoOpaco">
    <table class="table letraGrande">
        <thead class="cabeceraTabla">
        <tr>
            <th class="
                {% if sect == 'Tapas' %}
                    text-center
                {% endif %}
                ">
                Nombre
            </th>

            {% if sect != 'Tapas' %}
                <th>Precio</th>
            {% endif %}
        </tr>
        </thead>
        {% for i in elementos %}
            <tr class="filaTabla cursor">
                <td class="paddingTupla displayFlex toggler flex-column">
                    <div class=" nombreTabla
                    {% if sect == 'Tapas' %} align-self-center
                    {% endif %}">
                        <span>·&nbsp{{ i.nombre }}</span>
                    </div>

                </td>
                {% if sect != 'Tapas' %}
                    <td class="tuplaPrecio">
                        <span>
                            {% if i.precio < 10 %}
                                &nbsp
                            {% endif %}
                            {{ i.precio }}&nbsp€
                        </span>

                    </td>
                {% endif %}
                <td>
                    <button class="btn btn-outline-dark botonEdit"><i class="fas fa-edit"></i></button>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="display: none">
                    <div class="spoiler" style="display: none">
                        <div class="descripcion">{{ i.descripcion }}</div>
                        <div class="displayFlex flex-wrap justify-content-around">
                            {% for a in i.alergenos %}
                                <div>
                                    <figure class="displayFlex figurspoiler">
                                        <img src="{{ asset('img/alergenos/' ~ a.imgruta ) }}"
                                             title="{{ a.nombre }}"
                                             alt="{{ a.nombre }}">
                                        <figcaption>{{ a.descripcion }}</figcaption>
                                    </figure>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

