{% if elementos[0] is defined %}
    {% set sect =  elementos[0].seccion.nombre %}
{% else %}
    {% set sect = "¡Sección Vacía!" %}
{% endif %}

{% if is_granted('ROLE_MODERADOR') %}
    <div class="botones">
        <a class="btn btn-info botonCrear" href="{{ path('seccion_modificar', {'id': nSeccion}) }}"><i
                    class="fa fa-edit">
                Modificar Seccion</i></a>
        <a class="btn btn-success botonCrear" href="{{ path('secciones_ordenar' , {'returnSeccion': nSeccion}) }}"><i
                    class="fa fa-ellipsis-h">
                Ordenar Secciones</i></a>
    </div>
{% endif %}
<div class="tabla_fondo">
    <h2 class="text-center texto_mas_grande p-3">
        {% if elementos[0].seccion.icono is defined %}
            {% if elementos[0].seccion.icono is not null %}
                <i class="fas {{ elementos[0].seccion.icono }}"></i>
            {% else %}
                <i class="fas fa-utensils"></i>
            {% endif %}
        {% endif %}
        <div>
            <span class="texto_grande">{{ sect }}</span>
        </div>
    </h2>
</div>
<hr>
{% if is_granted('ROLE_MODERADOR') %}
    <div class="botones">
        <a class="btn btn-primary boton_crear" href="{{ path('elemento_nuevo', {'sec': nSeccion}) }}"><i
                    class="fa fa-plus">
                Nuevo elemento</i></a>
        <a class="btn btn-secondary botonCrear" href="{{ path('elemento_ordenar' , {'sec': nSeccion}) }}"><i
                    class="fa fa-list">
                Ordenar Elementos</i></a>
    </div>
{% endif %}
<div class="tabla_orden tabla_fondo">
    <table class="tabla table-borderless ">
        <thead class="tabla_cabecera">
        <tr>
            <th class="
                {% if 'Tapas' in sect %}
                    text-center
                {% endif %}
                ">
                Nombre
            </th>
            {% if 'Tapas' not in sect %}
                <th>Precio</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for i in elementos %}
            {% if i.visible or is_granted('ROLE_MODERADOR') %}
                <tr class="tabla_fila cursor {% if not i.visible %} texto_opaco {% endif %}">
                    {% if i.alergenos|length > 0 or i.descripcion is not empty %}
                    <td class=" toggler texto_grande">
                {% else %}
                    <td class="texto_grande">
                        {% endif %}
                        <div class="
                    {% if 'Tapas' in sect %} text-center
                    {% endif %}">
                            <span> <i class="fas
                            {% if i.alergenos|length > 0 or i.descripcion is not empty %}
                            fa-caret-down cerrado mr-1
                            {% else %}
                            fa-caret-right cerrado mr-2
                            {% endif %}
                            "></i>{{ i.nombre }}</span>
                        </div>

                    </td>
                    {% if 'Tapas' not in sect %}
                        <td class="tupla_precio texto_grande">
                        <span>
                            {% if i.precio < 10 %}
                                &nbsp
                            {% endif %}
                            {{ i.precio }}&nbsp€
                        </span>

                        </td>
                    {% endif %}
                    {% if is_granted('ROLE_MODERADOR') %}
                        <td>
                            <a class="btn btn-outline-dark boton_editar"
                               href="{{ path('elemento_modificar', {'id': i.id}) }}"><i
                                        class="fas fa-edit"></i></a>
                            <button id="btn{{ i.id }}" value="{{ i.id }}"
                                    class="btn_ocultador btn btn-outline-dark boton_editar"
                                    href="">
                                {% if i.visible %}
                                <i class="fas fa-eye"></i></button>
                            {% else %}
                                <i class="fas fa-eye-slash"></i></a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                <tr class="">
                    <td colspan="3" class="w-100" style="display: none">
                        <div class="spoiler" style="display: none">
                            <div class="spoiler_descripcion">{{ i.descripcion }}</div>
                            <div class="spoiler_imagenes">
                                {% for a in i.alergenos %}
                                    <div>
                                        <figure class="display_flex spoiler_figure">
                                            <img src="{{ asset('img/alergenos/' ~ a.imgruta ) }}"
                                                 title="{{ a.nombre }}"
                                                 alt="{{ a.nombre }}">
                                            <figcaption>{{ a.descripcion }}</figcaption>
                                        </figure>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

