<div class="fondoOpaco">
    <h2 class="text-center TituloGrande p-3">
        <i class="fas fa-utensils"></i>
        <div>
            {% if elementos[0] is defined %}
                {% set sect =  elementos[0].seccion.nombre %}
            {% else %}
                {% set sect = "¡Sección Vacía!" %}
            {% endif %}

            {{ sect }}
        </div>
    </h2>
</div>
<hr>
<div class="tablaOrden fondoOpaco">
    <table class="table letraGrande">
        <thead class="cabeceraTabla">
        <tr>
            <th>Nombre</th>
            <th></th>
            <th>Precio</th>
            <th>Alérgenos</th>
        </tr>
        </thead>
        {% for i in elementos %}
            <tr>
                <td class="paddingTupla">{{ i.nombre }}</td>
                <td>........</td>
                <td>
                    <div class="ordenPrecio">{{ i.precio }}</div>
                </td>
                <td>

                    {% for a in i.alergenos %}
                        <div class="imgAlergeno">
                            <img src="{{ asset('img/alergenos/' ~ a.imgruta ) }}" title="{{ a.nombre }}" alt="{{ a.nombre }}">
                        </div>
                    {% endfor %}

                </td>
            </tr>
        {% endfor %}
    </table>
</div>


