{% if elementos[0] is defined %}
    {% set sect =  elementos[0].seccion.nombre %}
{% else %}
    {% set sect = "¡Sección Vacía!" %}
{% endif %}

<div class="fondoOpaco">
    <h2 class="text-center TituloGrande p-3">
        {% if elementos[0].seccion.icono is defined %}
            {% if elementos[0].seccion.icono is not null %}
                <i class="fas {{ elementos[0].seccion.icono }}"></i>
            {% else %}
                <i class="fas fa-utensils"></i>
            {% endif %}
        {% endif %}
        <div>
            {{ sect }}
        </div>
    </h2>
</div>
<hr>
<div class="tablaOrden fondoOpaco">
    <table class="table letraGrande ">
        <thead class="cabeceraTabla">
        <tr>
            <th>Nombre</th>

            {% if sect != 'Tapas' %}
                <th>Precio</th>
            {% endif %}
        </tr>
        </thead>
        {% for i in elementos %}
            <tr class="cursor">
                <td class="paddingTupla displayFlex {% if sect == 'Tapas' %}justify-content-around
{% else %} justify-content-between{% endif %} ">
                    <div><span>{{ i.nombre }}</span></div>
                    <div class="alergenos  toggler esconder displayFlex justify-content-around flex-wrap text-wrap">

                        {% for a in i.alergenos %}
                            <div>
                                <figure  class="displayFlex flex-column justify-content-center" >
                                    <img class="imgAlergeno" src="{{ asset('img/alergenos/' ~ a.imgruta ) }}" title="{{ a.nombre }}"
                                         alt="{{ a.nombre }}">

                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                </td>

                {% if sect != 'Tapas' %}
                    <td class="tuplaPrecio">
                        <span>
                            {% if i.precio < 10 %}
                                &nbsp
                            {% endif %}
                            {{ i.precio }}&nbsp€
                        </span>

                    </td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
</div>


