{% extends 'principal/index.html.twig' %}

{% block content %}
    <div class="contenido">
        <div class="formulario">
            {% if elemento.id %}
                <h1>Modificar Elemento</h1>
            {% else %}
                <h1>Crear nuevo Elemento</h1>
            {% endif %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Guardar</button>
            {% if elemento.id is not null %}

                <a href="{{ path('elemento_eliminar', {'id': elemento.id, 'sec': elemento.seccion.id}) }}"
                   class="btn btn-danger"> Eliminar
                    elemento</a>


            {% endif %}
            <a href="{{ path('indexSec', {'sec': elemento.seccion.id}) }}" class="btn btn-info"> Volver al
                listado</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
