{% extends 'principal/index.html.twig' %}
{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/formulario.css') }}"/>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/botonesForm.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="contenido">
        <div class="formulario texto_grande ">
            <div class="formulario_titulo texto_grande">
                {% if elemento.id %}
                    <h1 class="texto_grueso">Modificar Elemento</h1>
                {% else %}
                    <h1 class="texto_grueso ">Crear nuevo Elemento</h1>
                {% endif %}
            </div>
            {{ form_start(form) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.precio) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.alergenos) }}
            <div class="botones">
                {% if elemento.id %}
                    {{ form_widget(form.saveAndAdd, {
                        'attr': {'class': 'd-none'}}) }}
                {% else %}
                    {{ form_widget(form.saveAndAdd, {
                        'attr': {'class': 'btn btn-success'}}) }}
                {% endif %}

                {{ form_widget(form.save, {
                    'attr': {'class': ''}}) }}
                {% if elemento.id is not null %}
                    <a href="{{ path('elemento_eliminar', {'id': elemento.id, 'sec': elemento.seccion.id}) }}"
                       class="btn btn-danger"><i class="fas fa-trash-alt"></i> </a>
                {% else %}
                {% endif %}
                <a href="{{ path('indexSec', {'sec': elemento.seccion.id}) }}" class="btn btn-info"><i
                            class="fas fa-arrow-left"></i></a>
            </div>


            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
