{% extends 'layout.html.twig' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/tabla.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/burbujas.css') }}">
    <link rel="stylesheet" href="{{ asset('css/portada.css') }}">
{% endblock %}
 {% block title %}
     {% if is_granted('ROLE_ADMINISTRADOR') %}
         Panel de administrador
     {% else %}
         Panel de moderador
     {% endif %}
 {% endblock %}
{% block content %}
    <div class="contenido">
        <div class="portada">
            {% if is_granted('ROLE_ADMINISTRADOR') %}
                <h3 class="portada_titulo texto_mas_grande texto_grueso">Panel de Administrador!</h3>
            {% else %}
                <h3 class="portada_titulo texto_mas_grande texto_grueso">Panel de Moderador!</h3>
            {% endif %}
            <p class="portada_titulo texto_grande texto_grueso">Usted esta logueado como {{ app.user.username }}</p>
            <div class="portada_cuerpo">
                <div class="portada_fondo ">
                    <p class="texto_grueso texto_grande">Opciones</p>
                </div>
                <hr>
                {% if is_granted('ROLE_ADMINISTRADOR') %}
                <div class="display_flex flex-column">
                    <div class="portada_descripcion botones mb-3 display_flex justify-content-between ">

                        <a class="btn btn-success" href="{{ path('app_panel_listar', {'estado': 1}) }}">Promocionar usuarios</a>
                        <a class="btn btn-success" href="{{ path('app_panel_listar', {'estado': 2}) }}">Modificar usuarios</a>
                        <a href="{{ path('app_register') }}" class="btn btn-success">Crear Usuario</a>
                    </div>
                    {% endif %}
                    <div class="portada_descripcion botones mb-3 display_flex justify-content-between">
                        <a href="{{ path('generar_carta') }}" class="btn btn-success">Imprimir PDF</a>
                        <a href="{{ path('app_password_change', {'user': app.user.id}) }}" class="btn btn-success">Cambiar
                            Contraseña</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
