{% extends 'principal/index.html.twig' %}
{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/formulario.css') }}"/>
{% endblock %}
{% block content %}
    <div class="contenido">
        <div class="formulario texto_grande ">
            <div class="formulario_titulo texto_grande">
                {% if seccion.id %}
                    <h1>Modificar Sección</h1>
                {% else %}
                    <h1>Crear nueva Sección</h1>
                {% endif %}
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i></button>
            {% if seccion.id is not null %}

                <a href="{{ path('seccion_eliminar', {'id': seccion.id}) }}" class="btn btn-danger"> <i
                            class="fas fa-trash-alt"></i></a>

                <a href="{{ path('indexSec', {'sec': seccion.id}) }}" class="btn btn-info"><i
                            class="fas fa-arrow-left"></i></a>
            {% else %}
                <a href="{{ path('index') }}" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
