{% extends 'layout.html.twig' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/tabla.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/burbujas.css') }}">
    <link rel="stylesheet" href="{{ asset('css/portada.css') }}">
{% endblock %}


{% block title %}Carta{% endblock %}

{% block content %}
    <div class="fondo_imagen">
        {% include  'secciones/secciones_listar.partial.html.twig' %}
        <hr>
        {% if elementos is defined %}
            {% include 'elemento/elementos_listar.partial.html.twig' %}
        {% else %}
            {% include 'principal/portada_partial.html.twig' %}
        {% endif %}
        {% block secciones %} {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/toggler.js') }}"></script> {# Utilizado para mostrar o esconder elementos quitando o poniendo clases #}
    <script src="{{ asset('js/ocultar.js') }}"></script> {# Utilizado para mostrar o esconder elementos quitando o poniendo clases #}
{% endblock %}
