{% set sect =  elementos[0].seccion.nombre %}
<div class="tabla_fondo pdf_titulo">
    <div class="texto_mas_grande pdf_titulo_texto">

        <span class="fas {{ elementos[0].seccion.icono }}"></span>
        <span> {{ sect }} </span>
    </div>
</div>
<hr>
<div class="tabla_orden tabla_fondo">
    <table class="tabla table-borderless ">
        <tbody>
        {% for i in elementos %}
        <tr class="tabla_fila cursor">
            <td class="texto_grande">
                <div class="
                    {% if 'Tapas' in sect %} pdf_sect_tapas
                    {% endif %}">
                    <span class="pdf_sect_nombre">{{ i.nombre }}</span>
                </div>
            </td>
            {% if 'Tapas' not in sect %}
                <td class="tupla_precio texto_grande">
                    {% if i.precio < 10 %}
                        <span class="pdf_sect_precio_inferior" > {{ i.precio }} €  </span>
                    {% else %}
                        <span>{{ i.precio }} €</span>
                    {% endif %}
                </td>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

